<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MercadoLiebre</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/utils.css" />
        <link rel="stylesheet" href="/css/colors-typography.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            rel="stylesheet"
            href="/css/styles-sm.css"
            media="(min-width:480px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-md.css"
            media="(min-width:768px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-lg.css"
            media="(min-width:1280px)"
        />
    </head>
    <body class="box-shadow">
        <header class="yellow-background padding-28">
            <div class="flex justify-center align-center">
                <img
                    id="logo"
                    src="images/logo-mercado-liebre.svg"
                    alt="Logo Mercado Liebre"
                    class="width-50 width-33-sm"
                />
                <form class="padding-8 width-50 width-33-sm">
                    <div class="flex no-wrap searchbar width-100">
                        <input
                            type="text"
                            placeholder="Buscar productos, marcas"
                            class="flex-grow width-100"
                        />
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </form>
                <p class="text-center width-100 width-33-sm">
                    <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y
                    sin tarjeta de crédito
                </p>
            </div>
            <div class="site-loginnavbar-display">
                <nav id="ml-main-nav" class="flex justify-space-between">
                    <ul class="flex">
                        <li class="padding-8"><a href="#">Ofertas</a></li>
                        <li class="padding-8">
                            <a href="#">Tiendas Oficiales</a>
                        </li>
                        <li class="padding-8"><a href="#">Vender</a></li>
                        <li class="padding-8"><a href="#">Ayuda</a></li>
                    </ul>
                    <ul class="flex">
                        <li class="padding-8">
                            <a href="/register"
                                >Creá tu cuenta<i class="far fa-id-card"></i
                            ></a>
                        </li>
                        <li class="padding-8">
                            <a href="/login"
                                >Ingresá<i class="fas fa-sign-in-alt"></i
                            ></a>
                        </li>
                        <li class="padding-8">
                            <a href="#"
                                >Mis compras<i
                                    class="fas fa-shopping-basket"
                                ></i
                            ></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="burger-menu lightblue-background">
                <i class="fas fa-bars lightgray-text"></i>
            </div>
        </header>
        <img
            class="banner"
            src="/images/img-home-banner.jpg"
            alt="En estas fiestas no te pierdas ninguna venta"
        />
        <main id="main-content">
            <section>
                <h2 class="text-title">Basado en tu última visita</h2>
                <div class="flex">
                    <article class="product margin-10">
                        <div class="product-wrapper">
                            <img
                                class="product-img"
                                src="images/img-cafetera-moulinex.jpg"
                                alt="imagen de la cafetera"
                                width="100%"
                            />
                            <div class="product-content">
                                <i
                                    class="fas fa-truck green-text truck-icon"
                                ></i>
                                <div class="flex">
                                    <p class="text-price padding-7">$6.770</p>
                                    <p
                                        class="
                                            text-discount
                                            green-text
                                            flex-grow
                                        "
                                    >
                                        40% OFF
                                    </p>
                                </div>
                                <p class="text-description">
                                    Cafetera Moulinex
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="product margin-10">
                        <div class="product-wrapper">
                            <img
                                class="product-img"
                                src="images/img-macbook-pro-2019.jpg"
                                alt="imagen de MacBook"
                                width="100%"
                            />
                            <div class="product-content">
                                <i
                                    class="fas fa-truck green-text truck-icon"
                                ></i>
                                <div class="flex">
                                    <p class="text-price padding-7">$230.000</p>
                                    <p
                                        class="
                                            text-discount
                                            green-text
                                            flex-grow
                                        "
                                    >
                                        20% OFF
                                    </p>
                                </div>
                                <p class="text-description">MacBook Pro 2019</p>
                            </div>
                        </div>
                    </article>
                    <article class="product margin-10">
                        <div class="product-wrapper">
                            <img
                                class="product-img"
                                src="images/img-samsung-galaxy-s10.jpg"
                                alt="imagen del Samsung Galaxy"
                                width="100%"
                            />
                            <div class="product-content">
                                <i
                                    class="fas fa-truck green-text truck-icon"
                                ></i>
                                <div class="flex">
                                    <p class="text-price padding-7">$70.500</p>
                                    <p
                                        class="
                                            text-discount
                                            green-text
                                            flex-grow
                                        "
                                    >
                                        10% OFF
                                    </p>
                                </div>
                                <p class="text-description">
                                    Samsung Galaxy S10
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="product margin-10">
                        <div class="product-wrapper">
                            <img
                                class="product-img"
                                src="images/img-tv-samsung-smart.jpg"
                                alt="imagen del SmartTv"
                                width="100%"
                            />
                            <div class="product-content">
                                <i
                                    class="fas fa-truck green-text truck-icon"
                                ></i>
                                <div class="flex">
                                    <p class="text-price padding-7">$23.200</p>
                                    <p
                                        class="
                                            text-discount
                                            green-text
                                            flex-grow
                                        "
                                    >
                                        5% OFF
                                    </p>
                                </div>
                                <p class="text-description">
                                    SmartTv Samsung 43"
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <h2 class="text-title">Sección de Ofertas</h2>
                <div class="flex">
                    <article class="product margin-10">
                        <div class="product-wrapper">
                            <img
                                class="product-img"
                                src="images/img-cafetera-moulinex.jpg"
                                alt="imagen de la cafetera"
                                width="100%"
                            />
                            <div class="product-content">
                                <i
                                    class="fas fa-truck green-text truck-icon"
                                ></i>
                                <div class="flex">
                                    <p class="text-price padding-7">$6.770</p>
                                    <p
                                        class="
                                            text-discount
                                            green-text
                                            flex-grow
                                        "
                                    >
                                        40% OFF
                                    </p>
                                </div>
                                <p class="text-description">
                                    Cafetera Moulinex
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="product margin-10">
                        <div class="product-wrapper">
                            <img
                                class="product-img"
                                src="images/img-macbook-pro-2019.jpg"
                                alt="imagen de MacBook"
                                width="100%"
                            />
                            <div class="product-content">
                                <i
                                    class="fas fa-truck green-text truck-icon"
                                ></i>
                                <div class="flex">
                                    <p class="text-price padding-7">$230.000</p>
                                    <p
                                        class="
                                            text-discount
                                            green-text
                                            flex-grow
                                        "
                                    >
                                        20% OFF
                                    </p>
                                </div>
                                <p class="text-description">MacBook Pro 2019</p>
                            </div>
                        </div>
                    </article>
                    <article class="product margin-10">
                        <div class="product-wrapper">
                            <img
                                class="product-img"
                                src="images/img-samsung-galaxy-s10.jpg"
                                alt="imagen del Samsung Galaxy"
                                width="100%"
                            />
                            <div class="product-content">
                                <i
                                    class="fas fa-truck green-text truck-icon"
                                ></i>
                                <div class="flex">
                                    <p class="text-price padding-7">$70.500</p>
                                    <p
                                        class="
                                            text-discount
                                            green-text
                                            flex-grow
                                        "
                                    >
                                        10% OFF
                                    </p>
                                </div>
                                <p class="text-description">
                                    Samsung Galaxy S10
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="product margin-10">
                        <div class="product-wrapper">
                            <img
                                class="product-img"
                                src="images/img-tv-samsung-smart.jpg"
                                alt="imagen del SmartTv"
                                width="100%"
                            />
                            <div class="product-content">
                                <i
                                    class="fas fa-truck green-text truck-icon"
                                ></i>
                                <div class="flex">
                                    <p class="text-price padding-7">$23.200</p>
                                    <p
                                        class="
                                            text-discount
                                            green-text
                                            flex-grow
                                        "
                                    >
                                        5% OFF
                                    </p>
                                </div>
                                <p class="text-description">
                                    SmartTv Samsung 43"
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer class="white-background gray-text padding-16">
            <section class="footer-wrapper flex flex-column">
                <article class="footer-item text-center margin-25">
                    <div>
                        <div
                            class="
                                footer-icon-size footer-icon-bottom-margin
                                lightblue-text
                            "
                        >
                            <i class="far fa-credit-card"></i>
                        </div>
                    </div>
                    <h3 class="text-title">Pagá con tarjeta o en efectivo</h3>
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con
                        tarjeta o efectivo en puntos de pago. ¡Y siempre es
                        seguro!
                    </p>
                </article>
                <article class="footer-item text-center margin-25">
                    <div
                        class="
                            footer-icon-size footer-icon-bottom-margin
                            lightblue-text
                        "
                    >
                        <i class="fas fa-gift"></i>
                    </div>
                    <h3 class="text-title">Envío gratis desde $ 2.500</h3>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos
                        gratis en miles de productos. Es un beneficio de Mercado
                        Puntos.
                    </p>
                </article>
                <article class="footer-item text-center margin-25">
                    <div
                        class="
                            footer-icon-size footer-icon-bottom-margin
                            lightblue-text
                        "
                    >
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <h3 class="text-title">Seguridad, de principio a fin</h3>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada
                        que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </article>
            </section>
            <div>
                <p class="gray-text">
                    Copyright © 1999-2020 MercadoLiebre S.R.L.
                </p>
            </div>
        </footer>
    </body>
</html>
