<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/colors-typography.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/styles-sm.css" media="(min-width:480px)" />
    <link rel="stylesheet" href="/css/styles-md.css" media="(min-width:768px)" />
    <link rel="stylesheet" href="/css/styles-lg.css" media="(min-width:1280px)" />
</head>
<body class="box-shadow">
    <header class="yellow-background padding-28">
        <div class="flex justify-center flex align-center">
        <img id="logo" src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="width-50 width-33-sm"/>
        <form class="padding-8 width-50 width-33-sm">
            <div class="flex no-wrap searchbar width-100">
            <input type="text" placeholder="Buscar productos, marcas" class="flex-grow width-100"/>
            <button><i class="fa fa-search"></i></button>
            </div>
        </form>
        <p class="text-center width-100 width-33-sm">
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
        </p>
        </div>
        <div class="site-loginnavbar-display">
        <nav id="ml-main-nav" class="flex justify-space-between" >
            <ul class="flex">
                <li class="padding-8"><a href="#">Ofertas</a></li>
                <li class="padding-8"><a href="#">Tiendas Oficiales</a></li>
                <li class="padding-8"><a href="#">Vender</a></li>
                <li class="padding-8"><a href="#">Ayuda</a></li>
            </ul>
            <ul class="flex">    
                <li class="padding-8"><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li class="padding-8"><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li class="padding-8"><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        </div>
        <div class="burger-menu lightblue-background">
             <i class="fas fa-bars lightgray-text"></i>
        </div>        
    </header>
    <main class="login wrapper">
        <form action="/" method="POST">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <input type="password" name="pass" placeholder="Elegí tu contraseña">
            <input type="submit" value="Enviar">
        </form>
    </main>
    <footer class="white-background flex flex-column">
        <section class="text-center">
            <div>
                <div class="footer-icon-size footer-icon-bottom-margin lightblue-text">
                    <i class="far fa-credit-card"></i>
                </div>
            </div>
            <h3 class="text-title">Pagá con tarjeta o en efectivo</h3>
            <p class="text-body">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="text-center">
            <div class="footer-icon-size footer-icon-bottom-margin lightblue-text">
                <i class="fas fa-gift"></i>
            </div>
            </div>
            <h3 class="text-title">Envío gratis desde $ 2.500</h3>
            <p class="text-body">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="text-center">
            <div class="footer-icon-size footer-icon-bottom-margin lightblue-text">
                <i class="fas fa-user-shield"></i>
            </div>
            </div>
            <h3 class="text-title">Seguridad, de principio a fin</h3>
            <p class="text-body">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </section>
        <section>
            <h3 class="text-body">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>